*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    height: fit-content;
    
    /* overflow-y: hidden; */
}

.navbar{
    position: sticky;
    top: 0;
    width: 100%;
    height: 55px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.navbar i {
    width: 30px;
    /* border: 1px solid rgb(61, 63, 57); */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.navbar img{
    margin-left: 30px;
    width:100px;
    height: 50px;
}

.nav-left{
    width: 20%;
    margin-left: 30px;
    display: flex;
    align-items: center;
    /* border: 1px solid yellow; */
}
.nav-center{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 50%;
    /* border: 1px solid greenyellow; */
}
.nav-center :nth-child(2){
    margin-right: 20px;
    border: 1px solid rgb(100, 97, 97);
    background-color: hsl(0, 0%, 18%);
    height: 40px;
    width:80px;
    border-top-right-radius:20px;
    border-bottom-right-radius: 20px;
}

.nav-center :nth-child(3){
    /* border: 1px solid navajowhite; */
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 18%);
}
.nav-center input{
    width: 500px;
    height: 40px;
    border: 1px solid rgb(83, 80, 80);
    background-color: rgb(0,0,0,0);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    caret-color: white;
    outline: none;
    padding-left: 20px;
    color: white;
}
.nav-right{
    width: 15%;
    display: flex;
    /* border: 1px solid gold; */
}
.nav-right i{
    margin-left: 15px;
}

.v-nav{
    width: 100px;
    height: 90vh;
    position: sticky;
    top: 55px;
    /* color: white; */
    background-color: rgb(0, 0, 0);
    /* border: 1px solid green; */
}
.v-nav-container{
    color: white;
    height: 80px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.v-nav-container i{
    width: fit-content;
    height: fit-content;
}
.v-nav-container div{
    width: fit-content;
    height: fit-content;
    margin-top: 15px;
    font-size: 13px;
}
.categories{
    width: 90%;
    height: 80px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 500;
    position: sticky;
    top: 55px;
    z-index: 2;
}

.categories ul{
    display: flex;
    justify-content: space-around;
}

.categories ul li{
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    list-style: none;
    border-radius: 10px;
    /* border: 1px solid red; */
    background-color: hsl(0, 0%, 18%);
    cursor: pointer;
    font-size: 13px;
}
.categories ul li:hover{
background-color: grey;
}

.page{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    height: auto;
    padding-bottom: 20px;
    /* overflow-y: hidden; */
}
.map-container{
    position: absolute;
    height: 470px;
    top: 145px;
    right: 0;
    width: 90%;
    margin-right: 20px;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: space-around;
    

}
.map-container::-webkit-scrollbar{
   width: 0px;
   height: 0px;
}


.map-data img{
    width: 350px;
    height: 200px;
}
.map-data{
    width: 350px;
    height: 320px;
    /* border: 1px solid white; */
    margin-bottom: 20px ;
}

.m-title{
    /* height: fit-content; */
    width: 80%;
    margin-left: 50px;
    /* border: 1px solid yellow; */
}

.m-youtuber{
    /* height: fit-content; */
    margin-left: 50px;
    font-size: 14px;
    color: rgb(135, 133, 133);
}
.m-views{
    margin-left: 50px;
    margin-right: 5px;
    font-size: 14px;
    color: rgb(135, 133, 133);
}
.m-time{
    color: rgb(135, 133, 133);
    font-size: 14px;
}


.Active-signin{
    width: 250px;
    height: 500px;
    position: absolute;
    top: 20px;
    right: 0px;
    border-radius: 10px;
    transform: translateX(-100px);
    display: block;
    scale: 1;
    background-color: rgb(46, 44, 44);
    z-index: 15;
    transition:transform 300ms ease-in-out;
}

.Inactive-signin{
    display: none;
    scale: 0;
    transform: translateX(100px);
    /* right: 200px; */
    transition: 300ms ease-in-out;
    
}


.sign-in div,.sign-in i{
    width: fit-content;
    background-color: transparent;
    padding: 10px;
}

.sign-in i{
    padding-top: 15px;
}

.sign-in{
    width: 100%;
}

.sign-in:hover{
    background-color: rgb(15, 13, 13);
    border: 1px solid white;
    cursor: pointer;
}

.sign-in-page{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-container{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center ;
    border: 1px solid green;
}
.placeholder{
    position: relative;
    z-index: 3;
}
.placeholder input{
    margin-left: 30px;
}
.placeholder label{
    position: absolute;
    margin-top: 20px;
    left: 40px;
    transform: translateY(20px);
    transition: 200ms ease-in-out;
}
.placeholder input:focus + label{
    transform: translateY(-3px);
    transition: 200ms ease-in-out;
    color:blue;
    background-color: white;
    width: fit-content;
}

.placeholder input:focus{
    /* border: blue; */
    outline:1px solid blue;
}
.single-page-container{
    padding-top: 30px;
    display: flex;
    width: 90%;
    margin: auto;
}

.left-single-pg-part{
    width: 55%;
    height: 500px;
    /* border: 1px solid navajowhite; */
}
.right-single-pg-part{
    width: 45%;
    height: auto;
    /* border: 1px solid rgb(82, 187, 232); */
}

.fit{
    width: fit-content;
}

.hist-body{
    position: absolute;
    /* height: 470px; */
    top: 100px;
    right: 0;
    width: 90%;
    margin-right: 20px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    height: 85vh;
    /* background-color: black; */
    overflow: hidden;
}
.hist-body-left{
    width: 58%;
    height: 100%;
    /* border: 1px solid green; */
}

.hist-body-right{
    width: 40%;
    /* border: 1px solid red; */
}

.map-hist{
    /* height: 75vh; */
    height:100%;
    overflow-y: scroll;
    margin-top: 20px;
}

.map-hist::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.map-hist-container{
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}
.map-hist-container img{
    width: 30%;
    border-radius: 8px;
}
.hist-details{
width: 65%;
/* border: 1px solid pink; */
}

.hist-body-right{
    display: flex;
    flex-direction: column;
}

.manage-hist{
    /* border: 1px solid yellow; */
    width: 70%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.manage-hist h3{
    font-weight: 500;
    font-size: 15px;
}
.manage-hist i {
    /* border:1px solid green; */
    width: fit-content;
    margin-right: 10px;
}

.hist-search{
    width: 70%;
    /* border-bottom: 1px solid grey; */
    margin-bottom: 15px;
    margin-top: 30px;
    padding-bottom: 8px;
    display: flex;
}

.hist-search input{
    border: none;
    outline: none;
}

.hist-icon{
    /* border: 1px solid red; */
    position: relative;
    bottom: 8px;
    width: 20px;
    height: 20px;
    padding-top: 15px;
    margin-right: 20px;
}

.m-h-2{
    margin-left: 20px;
    margin-bottom: 20px;
    color:grey;
    font-weight: 600;
}

.you-body{
    position: absolute;
    /* height: 470px; */
    top: 100px;
    right: 0;
    width: 90%;
    margin-right: 20px;
    padding-bottom: 50px;
    /* border: 1px solid white; */
    height: 85vh;
    /* background-color: black; */
    overflow: scroll;
    /* align-items: center; */
}

.you-body::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.you-heading{
    display: flex;
    align-items: center;
    height: 25vh;
    /* border: 1px solid green; */
    color:white;
    margin-bottom: 30px;
}

.you-heading h1{
    width: fit-content;
    /* border: 1px solid yellow; */
}

.profile-img{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    background-color: rgb(76, 197, 155);
    border-radius: 50%;
    font-size: 50px;
    color :white
}

.switch-btn{
    background-color: rgb(80, 78, 78,0.5);
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 15px;
    font-size: 13px;
    /* margin-top: 35px; */
}

.you-map{
    width:'96%';
    /* padding-bottom: 150px; */
    /* border: 1px solid greenyellow; */
    height:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid rgb(94, 93, 93);
}

.you-map::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.you-map img{
    width: 200px;
    
}

.you-container{
    height: fit-content;
    /* border: 1px solid green; */
    color: white;
}

.overflow-hidden{
    height: 40px;
    overflow: hidden;
    font-size: 13px;
}

.font-grey{
    color: gray;
}

.size-13{
    font-size: 13px;
}
.size-15{
    font-size: 15;
}

.col-white{
    color: white;
}

.you-bottom{
    border-bottom:  1px solid rgb(94, 93, 93) ;
    padding: 30px 0px;
}

.you-bottom h1{
    font-size: 18px;
}